entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"  # Tu peux également ajuster cela en fonction de ta cible exacte sur Koyeb

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38189104
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

# Ajout pour Koyeb, en cas de besoin pour ajuster le workflow
[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 deploy_koyeb.py"  # Exemple pour un script de déploiement spécifique si nécessaire